[meta]
use_cudnn = false
use_amp = false

[ppl]
n_folds = 1
n_jobs = 8

[path]
base = "../model/dccrn"
pre_model = 0

[visual]
samples = 2

[checkpoint]
save_interval = 1

[optimizer]
name = "Adam"
lr = 1e-3

[grad]
clip_grad_norm_value = 10.0

[lr_scheduler]
name = "ReduceLROnPlateau"
mode = "min"
factor = 0.8
patience = 6
threshold = 1e-3
min_lr = 1e-5
verbose = true

[dataloader]
batch_size = [32, 8]
num_workers = 8
drop_last = false
pin_memory = false

[dataset]
sr = 16000
n_fft = 512
win_len = 480
hop_len = 120
audio_len = 3.0
limit = 0

[model]
name = "DCCRN"
rnn_units = 64
rnn_layers = 2
kernel_num = [2, 8, 16, 32, 64, 64, 64]
kernel_size = 5

[train]
resume = false
epochs = 9999
valid_start_epoch = 10
valid_interval = 10

[knowledge_distillation]
teacher_model = "./backup/base_model.pth"
# teacher_model = "../model/dccrn/checkpoints/fitnets_x1_4_0.9/best_model.pth"
# student_model, use pre_model
v = 0.95